@import "tailwindcss";

@theme inline {
  --animate-move: move 5s linear infinite;

  @keyframes move {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(200px);
    }
  }
}

@theme {

  --color-black: "#000";
  --color-black-100:'#000319'
}


body{
  background-color: black;
  max-width: 100%;
  overflow-x: hidden;
}


.scroller{
  scroll-snap-type: y mandatory;
}

.work-exp{
  flex:1;
  scroll-snap-align: start;
}
